/* 
    Document   : stylesheet CSS3
    Created on : Dec 21, 2011, 10:37:43 AM
    Author     : Haidar Mar'ie
    Email      : coder5@ymail.com
    Description:
        Purpose of the stylesheet follows CSS3.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {  
    margin:0px; padding:0px;  
    /*    background-color:#f6f6f6;  */
    font-family: Arial;
}

a:link {text-decoration: none;}      /* unvisited link */
a:visited {text-decoration: none;}  /* visited link */
a:hover {text-decoration: none; color: #F9BB00;}  /* mouse over link */
a:active {text-decoration: none;}  /* selected link */

#main {  
    /*    background-color:#f6f6f6;  */
}

.container {  
    position: relative;
    width:1000px;
    margin:0 auto;  
}  
.container_wrap{
    float: left;
    height: auto;
    box-shadow: 0px 0px 8px black;
    -webkit-box-shadow: 0px 0px 8px black;
    -moz-box-shadow: 0px 0px 8px black;
}
#top_nav{
    float:left;
    background:url(../images/top_nav_center.png) repeat-x;
    width:1000px;
    height:19px;

}

.nav_top{
    float: right;
    color: #fff;
    font-size: 10pt;
}
.my_account{
    font-weight: bold;
    margin-right: 10px;
    font-style: italic;
}
.my_account a:link, .my_account a:visited{
    color: #fff;
}
.my_account a:hover{
    color: #F9BB00;
}
#logo{
    float:left;
    background: #fff;
    width:1000px;
    height:149px;

}
.cart{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    width: 295px;
    height: 80px;
    background-color: #eeeeee;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #dddddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.shop_cart{
    width: 295px;
    margin-top: 30px; 
}
.popup{
    text-align: center;
}
.total_price{
    color: red;
    font-style: italic;
    font-weight: bold;
}
.price {
    display: inline;
    font-weight: bold;
}
.price_category{
    font-weight: bold;
}
.phone{
    float: right;
    margin-top: 90px;
    margin-right: -300px;
    background:url(../images/phone_no.png)  no-repeat; 
    width:296px;  
    height:57px;  
}
#search_bar{
    float:left;
    background:url(../images/search_bar_center.png) repeat-x;
    width:1000px;
    height:32px;
}
.search{
    float: right;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    margin-right: 20px;
}
input#search {
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:20px;
    line-height:25px;
    width:200px;
    text-indent:5px;
}
.leftbar{
    position:absolute; 
}
.categories{
    float:left; 
    width:227px;  
    height: auto;
    border: 5px solid white;
    background-color: #fff;
}
.product_title{
    display: block;
    height:28px;  
    font-weight:bold;
    background:url(../images/product_cat.png) repeat-x #000 ;
}
.prod_cat{
    padding-left: 18px;
    padding-top: 5px;
    color: #FFF;
    text-transform:uppercase;
    font-size: 12pt;
}
.categories_center{
    float:left;
    display: block;
    margin-top: -50px;
    margin-left: 29px;
    width:227px;  
    height:30px;  
}
.categories_left{
    float: left;
    margin-left: 20px;
    position:absolute; 
    background:url(../images/category_left0.png)  no-repeat ; 
    width:10px; 
    height: 692px;
}
.categories_right{
    float: left;
    margin-left: 266px;
    display: block;
    position:absolute; 
    background:url(../images/category_right0.png) no-repeat ; 
    width:10px;  
    height: 692px;
}
.testi{
    float: left;
    margin-left: 10px;
    background-color: #eaebf0;
    width: 208px;
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.testi_right{
    float: left;
    background:url(../images/testi_right.png) no-repeat; 
    width: 10px;
    height: 311px;
}
p.testi_desc{
    font-size: 10pt;
    padding-left: 5px;
}
p.client{
    font-family: TrojanPro;
    font-size: 14pt;
    padding-left: 5px;
    text-transform:uppercase;
    color: red;
}

.testi_bottom{
    float: left;
    background:url(../images/testi_bottom.png) no-repeat; 
    display: block; 
    width: 212px;
    margin-left: -2px;
    height: 16px;
}
ul.cat  {
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    color: #929292; 
    width: 230px;
    font-size: 13pt;
}
ul.cat li:first-child {  
    border-top: none;
}
a:active {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
ul.cat li {  
    padding-top: 5px;
    padding-left:10px;
    padding-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border-top: 1px solid #c8c8c8;
} 
ol, ul{
    list-style: none;
}

.main_product{
    float: left;
}
#content{
    float:left;
    background: #fff;
    margin-left: 300px;
    margin-top:20px;
    position: relative;
    min-height: 500px;
}
.product_center{
    float:left;
    display: block;
    background:url(../images/spray_hand.jpg) no-repeat #ebecf1 right bottom; 
    width: 999px;
    height: 381px;

}
p.p_highlight{
    margin-top: -5px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}
p.p_desc{
    width: 400px;
}
.prod_highlight{
    color: #575757;
    float: left;
    width: auto;
    height: auto;
    margin-left: 280px;
    padding-top: 10px;
}
.products{
    float: left;
    border:1px solid #000;
    width: auto;
    margin-left: 275px;
}
.product_list  {
    margin-top: 7px;
    margin-bottom: 7px;
    border-right:1px solid #000;
    height:275px;
    width:177px;
    float:left;
    text-align:center;
}
.product_list:last-child{
    border-right: none;

}

.product_list img {
    display:inline;
    width: 118px;
    height: 150px;
    margin:3px;
    border:1px solid #ffffff;
}
.product_desc{
    margin-left: 10px;
    text-align:center;
    font-weight:normal;
    width:150px;
}
.button, .button:visited {
    background-color: #dddddd; -webkit-box-shadow:: 0 0 9px #333;
    display: inline-block;
    margin-top: 7px;
    padding: 5px 10px 6px;
    color: red;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}
.check_product_button{
    display: block;
    position: absolute;
    top: 510px;
    background:url(../images/check_product_button.png) no-repeat;
    width: 267px; height: 71px;
    background-position: top;
    text-indent: -9999px;
}
.testi_left{
    background:url(../images/testi_left.png) no-repeat; 
    display: block;
    float: left;
    border: 1px solid red;
    width: 10px;
    height: 311px;
}
.items{
    float: left;
    background-color: #fff;
    width: 1000px;
    min-height: 261px;
    margin-bottom: 20px;
}
.item_in{
    text-align: center;
    color: #7a7a7a;
    text-transform: uppercase;
    margin-left:250px;
}


#bottom{
    float: left;
    /*    background:url(../images/bottom_center.png) repeat-x #000;*/
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#0B0B0B));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #555555, #0B0B0B);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #555555, #0B0B0B);

    /* IE 10 */
    background: -ms-linear-gradient(top, #555555, #0B0B0B);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #555555, #0B0B0B);
    width: 1000px;
    height: auto;
}

#sign_up{
    float: left;
    margin-top: 10px;
    border-right: 1px solid #ddd;
    width: 300px;
    height: 200px;
}

/*Links navigation*/
li a{
    text-decoration: none;
}
.links{
    /* The navigation menu bar: */
    float:left;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #8C8C8C;
    border-right: 1px solid #000;
    width: 325px;
    height: 250px;
    text-transform: uppercase;
}
.links:first-child{
    border-right: 1px solid #000;
    border-left: none;
}
.links:last-child{
    border-left: 1px solid #8C8C8C;
    border-right: none;
}

.links p{
    margin-left:48px;
    font-weight: bold;
}
.links p.email_deals{
    margin-left:80px;
}
.links p.small{
    font-size: 12px;
}
.link_list li a{
    /* CSS3 rounded corners for both the navigation bar and the buttons: */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    width: 158px;
    font-size: 14px;
    color: #fff;
}

.link_list li{
    /* This will arrange the LI-s next to each other */
    display: block;
}

.link_list li a,.link_list li a:visited{
    /* Styling the hyperlinks of the menu as buttons */

    font-weight:bold;
    background:url(img/button_bg.jpg) repeat-x center bottom #666666;

    /* display:block allows for additinal CSS rules to take effect, such as paddings: */
    display:block;
    border:1px solid #4D4D4D;
    color:#CCCCCC;
    border-top-color:#565656;

    padding:4px 6px;
    margin:4px 5px;
    height:16px;


    /* Setting a CSS3 box shadow around the button */

    -moz-box-shadow:0 0 1px black;
    -webkit-box-shadow:0 0 1px black;
    box-shadow:0 0 1px black;

    /* CSS3 text shadow */
    text-shadow:0 1px black;
}

.link_list li a:hover{
    color:#000;
    /* On hover show the top, lighter, part of the background: */
    background-position:center top;
}

.clear{
    /* Old-school clear fix hack to clear the floats: */
    clear:both;
}
/*End Links navigation*/

input.sign_up {
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:25px;
    margin-bottom: 10px;
    line-height:25px;
    width:200px;
    text-indent:5px;
}

#footer {  
    clear: left;
    color:white;  
}  

.footer_center{
    float:left;
    text-align: center;
    background:url(../images/footer_center.png) repeat-x #000;
    width: 1000px;
    font-size: 12px;
    height: 62px;
}

p.footer_center{
}
